<div class="container" id="info_project">

<br />
<br />
<br />
<h2>Gerenciamento de risco</h2>
  <%= render 'managment_risks/breadcrumb' %>
    <% if @managment_risks.empty? %> 
        <div class="box_center">
        <br />
        <br />
            <%= image_tag("compliance.png") %>
            <br />
            <br />
            <p class="access_deny">Você não possui nenhum gerenciamento de risco. Clique em "Novo risco"</p>
        <%= link_to 'Novo risco', new_managment_risk_path, class: 'green_button' %> 
        </div>
    </div>
 
  <% else %>

<%= link_to 'Novo risco', new_managment_risk_path, class: 'red_button' %>
<br /> 
<br /> 
<table>
    <tr>
      <td><span style='color: #000; font-weight: bold; '>Legenda</span></td>
    </tr>
    <tr>
      <td style='background-color: #990026'><span style='color: #FFF; font-weight: bold;'>Muito Alta</span></td>
      <td style='background-color: #FA5858'><span style='color: #FFF; font-weight: bold;'>Alta</span></td>
      <td style='background-color: #ccc500'><span style='color: #FFF; font-weight: bold;'>Média</span></td>
      <td style='background-color: #04B431'><span style='color: #FFF; font-weight: bold;'>Baixa</span></td>
       <td style='background-color: #4D8349'><span style='color: #FFF; font-weight: bold;'>Muito Baixa</span></td>
    </tr>
</table>


 <% @managment_risks.each do |managment_risk| %>

<br />

<% if managment_risk.probability == "5" %>
      <button class="accordion" style='background-color: #4D8349'>
          <b class="accordion_title" style='color: #FFF'>
           <%= managment_risk.title %>
          </b>
      </button>
  <% elsif managment_risk.probability == "4" %>
      <button class="accordion" style='background-color: #04B431'>
          <b class="accordion_title" style='color: #FFF'>
           <%= managment_risk.title %>
          </b>
      </button>
  <% elsif managment_risk.probability == "3" %>
      <button class="accordion" style='background-color: #ccc500'>
          <b class="accordion_title" style='color: #FFF'>
           <%= managment_risk.title %>
          </b>
      </button>  
  <% elsif managment_risk.probability == "2" %>
      <button class="accordion" style='background-color: #FA5858'>
          <b class="accordion_title" style='color: #FFF'>
           <%= managment_risk.title %>
          </b>
      </button>   
  <% elsif managment_risk.probability == "1" %>
      <button class="accordion" style='background-color: #990026'>
          <b class="accordion_title" style='color: #FFF'>
           <%= managment_risk.title %>
          </b>
      </button>                     
  <% end %> 
<div class="panel">
     <br />
       <div>
         <b>Título: </b>
         <%= managment_risk.title %>
       <br />
       <br />
       </div> 

      <div>
        <b>Descrição:</b>
        <br />
        <%= managment_risk.description.html_safe %>
        <%= tinymce %>
        <br />    
      </div>

      <div>
        <b>Probabilidade: </b>
        <br />
        <% if managment_risk.probability == "1" %>
            Muito alta
        <% elsif managment_risk.probability == "2" %>
             Alta
        <% elsif managment_risk.probability == "3" %>
            Média
        <% elsif managment_risk.probability == "4" %>
            Baixa
        <% elsif managment_risk.probability == "5" %>
            Muito Baixa
        <% end %>
       <br />
       <br />
      </div> 
     
      <div>
        <b>Contingência: </b>
        <br />

        <% if managment_risk.contingency == "1" %>
          Prevenir/Evitar
        <% elsif managment_risk.contingency == "2" %>
          Mitigar
        <% elsif managment_risk.contingency == "3" %>
          Transferir
        <% elsif managment_risk.contingency == "4" %>
          Aceitar
        <% end %>

      </div> 


      <div>
         <br />
         <%= link_to 'Editar', edit_managment_risk_path(managment_risk), class: 'blue_button' %>
         <%= link_to 'Deletar', managment_risk, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red_button' %>
      </div>
      <br />
 </div>
<% end %>


 <% end %>


<script type="text/javascript">
  $(document).ready(function() {
    //$('.sortable').tablesort();
  });
  ///Accordion

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }

</script>

<br />
<br />
     <%= paginate @managment_risks %>  

</div>