<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @managment_risk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @managment_risk.description.html_safe %>
  <%= tinymce %>
</p>

<p>
  <strong>Probabitity:</strong>
  <%= @managment_risk.probability %>
</p>

<p>
  <strong>Contingência:</strong>
  <%= @managment_risk.contingency %>
</p>

<p>
  <strong>Status:</strong>
  <%= @managment_risk.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @managment_risk.project_id %>
</p>

