
<%= form_for(@user_story, html: {class: 'ui form'}) do |f| %>

  <% if @user_story.errors.any? %>
      <div class="container">
        <div class="alert_danger">
           <div class="close icon">x</div>
              <div class="header">
            <% @user_story.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
  <% end%>

    <div>
      <div class="ui search icon input">
          <%= f.text_field :theme_search, class: 'prompt', placeholder: 'Tema' %>
          <i class="search icon"></i>
        <div class="results"></div>
      </div>

      <%= f.number_field :business_value, placeholder: 'business value' %>
      <%= f.number_field :story_points, placeholder: 'Story point' %>
    </div>

   <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.rich_text_area :description, options = {style:"height:300px;"} %>
    </div>

    <div>
      <%= f.label :priority %>
      <br />
      <%= f.collection_select(:priority_id, Priority.all, :id, :name, {:prompt => 'Prioridade da história'}, {class: 'dropdown', placeholder: 'Prioridade da história'} ) %>
      <br />
    </div>

    <div>
      <%= f.label :Sprint %>
      <br />
      <% sprints = current_project.sprints {|sprint| [sprint.name, sprint.id] };  %>

      <%= f.collection_select( :sprint_id, sprints, :id, :name, {:prompt => 'Sprint'}, {class: 'dropdown', placeholder: 'Sprint'} ) %>

 
    </div>  
    <div>
      <%= f.label :Status %>
      <br />
      <%= f.select :status, options_for_select({'Pendente' => 1 , 'Desenvolvimento' => 2 , 'Code Review' => 3, 'QA' => 4 , 'Concluída' => 5 }), {:prompt => false}, { :class => 'ui search dropdown', placeholder: 'Status' } %>
    </div>

  <% end %>

<p></p>
<p></p>
<p></p>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});

  $(document).ready(function() {
    $('.ui.search')
    .search({
      apiSettings: {
        url: "//" + location.host + "/themes/autocomplete.json?query={query}"
      },
      fields: {
        results: 'themes',
        title: 'name',
        description: 'description'
      },
      minCharacters : 0
    });
  });
</script>
