<div class="ui container">
  <div class="ui menu">
    <a href="#" class="item active"><strong>User Stories</strong></a>
    <%= link_to "Novo", new_user_story_path, class: 'item' %>
  </div>

  <%= render 'user_stories/breadcrumb' %>
  <br />
  <br />

<% @user_stories.each do |user_story| %>
<button class="us-accordion">
      <%= link_to user_story do %>
      <div class="ui green button">
        US-<%= user_story.project.initial %>-<%= user_story.id %> 
      </div> 
       <%= user_story.title %>
      <% end %>
      
      <div class="info_accordion">
       <div class="ui compact teal mini button"><b>Sprint: </b>
         <%= user_story.sprint.name %>
       </div>
      </div>

      <div class="info_accordion">
       <div class="ui compact mini icon silver basic button"><b>Status: </b>
         <% if user_story.status == 1 %>
          Pendente
         <% end %>
         <% if user_story.status == 2 %>
          Desenvolvimento
         <% end %>
         <% if user_story.status == 3 %>
          Code Review
         <% end %>
         <% if user_story.status == 4 %>
          QA
         <% end %>
         <% if user_story.status == 5 %>
          Concluída
         <% end %>
       </div>
      </div>
</button>
      <div class="panel">
             <br />
             <%= user_story.description unless user_story.description.nil?  %>
            
            <p></p>
            <b>Lista de Sub-task associadas</b>
          
            <a class="ui compact teal icon mini button new_task" userstory="<%= user_story.id %>" title="Adicionar tarefa">+ Adicionar</a>
            
            <br />  
            <p>
              <% user_story.tasks.each do |s| %>
             

              <div class="kind_task_accordion">
                     <% if s.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
             </div>
                

                 <%= link_to edit_task_path(s.id) do %>
                     <div class="ui button">TK-<%= user_story.project.initial %>-<%= s.id %> <%= s.title %></div>
                 <% end %>

                  <% if s.priority_id == 1 %>
                 
                    <div class="ui compact mini icon red basic button">
                    <b>Prioridade: </b>
                     Alta
                 </div>
                 <% end %>

                 <% if s.priority_id == 2 %>
                    <div class="ui compact mini silver icon orange basic button ">
                        <b>Prioridade: </b>
                          Média
                    </div>
                 <% end %>

                  <% if s.priority_id == 3 %>
                    <div class="ui compact mini icon green basic button ">
                        <b>Prioridade: </b>
                        Baixa
                    </div>
                 <% end %>

                 <div class="ui compact mini icon silver basic button"><b>Status: </b>
                     <% if s.status == 1 %>
                      Pendente
                     <% end %>
                     <% if s.status == 2 %>
                      Desenvolvimento
                     <% end %>
                     <% if s.status == 3 %>
                      Code Review
                     <% end %>
                     <% if s.status == 4 %>
                      QA
                     <% end %>
                     <% if s.status == 5 %>
                      Concluída
                     <% end %>
                </div>
                 
                 <%= link_to s, method: :delete, class: "delete_task_accordion", data: { confirm: "Deseja deletar a tarefa TK-#{user_story.project.initial}-#{ s.id } #{s.title} ?" }, title: "Remover tarefa TK-#{user_story.project.initial}-#{ s.id } #{s.title}" do %>
                   <%= image_tag('delete_btn.png') %>
                 <% end %>
              </p>
          
            <% end %>
          
          <br />
          <br /> 
            <div class="ui buttons">
              <%= link_to edit_user_story_path(user_story), class: 'ui yellow button' do %>
                Editar
              <% end %>
            </div>

            <div class="ui buttons">
              <%= link_to user_story, method: :delete, data: { confirm: "Deseja deletar a história US-#{user_story.project.initial}-#{ user_story.id } #{ user_story.title } ?" }, class: 'ui red button' do %>
                Remover
              <% end %>
              
            </div>   
            <br />
            <br />    
      </div>          
<% end %>


<!-- MODAL TAREFA -->
<div class="ui container">
  <div class="ui small modal task">
    
    <div class="header">
      Adicionar tarefa
    </div>
    
    <div class="content">
      <div class="ui grid">
        <div class="row">
          <div class="sixteen wide tablet eight wide computer column">
            <%= form_for(@task, html: {class: 'ui form'}) do |f| %>
              <div class="field">
                <label><strong>Título: </strong></label>
                <%= f.text_field :title %>
              </div>

              <div class="field">
                <label><strong>Descrição: </strong></label>
                <%= f.text_area :description %>
              </div>
              
              <div class="field">
                <label><strong>Tipo da task </strong></label>
                <%= f.select :kind_id, Kind.all.collect {|x| [x.name, x.id]}, { prompt: 'Selecionar o tipo de tarefa' }, class: "ui search dropdown" %>
              </div>
              

              <div class="field">
                <label><strong>Prioridade</strong></label>
                <%= f.select :priority_id, Priority.all.collect {|x| [x.name, x.id]}, { prompt: 'Selecionar a prioridade de tarefa' }, class: "ui search dropdown" %>
              </div>
              
              <div class="field">
                <%= f.hidden_field :user_story_id %>
                <%= f.hidden_field :status, value: '1' %>
              </div>

              <div class="field">
                <%= f.submit 'Adicionar', class: 'ui teal button' %>
              </div>
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</div>
<!-- /MODAL TAREFA -->
<script type="text/javascript">
  $(document).ready(function() {
    //$('.sortable').tablesort();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});

  $('.button.new_criterion').click(function(){
    $('#user_story_acceptance_criterion_user_story_id').val($(this).attr('userstory'));
    $('.ui.modal.criterion').modal('show');
    return false;
  });

  $('.button.new_task').click(function(){
    $('#task_user_story_id').val($(this).attr('userstory'));
    $('.ui.modal.task').modal('show');
    return false;
  });
  
  ///Accordion

  var acc = document.getElementsByClassName("us-accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>