

<div class="container">
 
      <br />
      <h2>User Stories</h2>


  <%= render 'user_stories/breadcrumb' %>
  <br />
  <br />


<% if @user_stories.empty? %> 
  <div class="box_center">
      <br />
      <br />
      <%= image_tag("backlog_big.png") %>
      <br />
      <br />
      <p class="access_deny">Nenhuma user story criada. Clique em "Novo" para iniciar o backlog.</p>
      <%= link_to "Nova", new_user_story_path, class: 'green_button' %>
    </div>
  </div>
<% else %>

<%= link_to "Nova User Story", new_user_story_path, class: 'green_button', id: "new_user_story" %>
 <%= link_to 'Acessar board', scrumboard_path(current_project.id), class: 'black_button', target: 'blank' %>
<br />
<br />


<% @user_stories.each do |user_story| %>
<button class="accordion">
        <div class="silver_button">
          US-<%= user_story.project.initial %>-<%= user_story.id %> 
        </div> 
           <b class="accordion_title"> 
                <%= user_story.title %>
           </b>
    
       <div class="info_accordion">
    
      <% if user_story.priority_id == 1 %>
          <div class="mini_red_button">
               <b>Prioridade: </b>
                Alta
          </div>
       <% end %>

      <% if user_story.priority_id == 2 %>
         <div class="mini_orange_button">
             <b>Prioridade: </b>
               Média
         </div>
      <% end %>

      <% if user_story.priority_id == 3 %>
        <div class="mini_green_button">
            <b>Prioridade: </b>
            Baixa
        </div>
      <% end %>

       <div class="mini_status_button"><b>Status: </b>
         <% if user_story.status == 1 %>
          Pendente
         <% end %>
         <% if user_story.status == 2 %>
          Desenvolvimento
         <% end %>
         <% if user_story.status == 3 %>
          Code Review
         <% end %>
         <% if user_story.status == 4 %>
          QA
         <% end %>
         <% if user_story.status == 5 %>
          Concluída
         <% end %>
       </div>


       <% if user_story.sprint.nil? %>
        
      <% else %>
     
     <div class="mini_status_button">
           <b>Sprint: </b>
           <%= user_story.sprint.name %>
     </div>

     <% end %>
      </div>
</button>
      <div class="panel">
             <br />
             <%= user_story.description unless user_story.description.nil?  %>

            <br />
            <br />
             <%= link_to edit_user_story_path(user_story), class: 'blue_button' do %>
                Editar
              <% end %>
           
              <%= link_to user_story, method: :delete, data: { confirm: "Deseja deletar a história US-#{user_story.project.initial}-#{ user_story.id } #{ user_story.title } ?" }, class: 'red_button' do %>
                Remover
              <% end %>
            
            <p></p>
            <b>Lista de Sub-task associadas</b>
          
            <%= link_to '+ Adicionar', new_task_path(@task),  target: "_blank", class: 'blue_button' %>
            <br />  

          <% user_story.tasks.each do |s| %>
              <p class="task_content_accordion">  
               <div class="task_button">         
                  <div class="kind_task_accordion">
                         <% if s.kind_id == 1 %>
                           <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                         <% else %>
                           <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                         <% end %>

                         
                 </div>
               <% if s.impediment == TRUE %>
                            <%= image_tag('flag.png', class: 'flag_impediment', title: "Tarefa com impedimento!") %>
                         <% end %>   
                 <%= link_to task_path(s.id), class: "accordion_title" do %> 
                        <b> TK-<%= user_story.project.initial %>-<%= s.id %> </b>
                 <% end %> 

                 <%= link_to edit_task_path(s.id), class: "accordion_title" do %> 
                    <%= s.title %> 
                 <% end %>
            <div class="info_accordion">


             <% if s.function_user_project.nil? %>
               -
             <% elsif s.function_user_project.user.avatar.attached? %>
                  <%= image_tag(s.function_user_project.user.task_avatar_thumbnail, :class=> "image_thumbnail_task_list", title: "#{ s.function_user_project.user.name }") %>  
             <% else %>
                  <%= image_tag("profile-no-image.png", :class=> "image_thumbnail_task_list", title: "#{ s.function_user_project.user.name }") %>
             <% end %>



                
                  <% if s.priority_id == 1 %>
                     <b class="high_priority">Alta</b>
                 <% end %>

                 <% if s.priority_id == 2 %>
                     <b class="medium_priority">Média</b>
                 <% end %>

                 <% if s.priority_id == 3 %>
                        <b class="low_priority">Baixa</b>
                 <% end %>

                  <b class="status">
                     <% if s.status == 1 %>
                      Pendente
                     <% end %>
                     <% if s.status == 2 %>
                      Desenvolvimento
                     <% end %>
                     <% if s.status == 3 %>
                      Code Review
                     <% end %>
                     <% if s.status == 4 %>
                      QA
                     <% end %>
                     <% if s.status == 5 %>
                      Concluída
                     <% end %>
                 </b>
             



                 <%= link_to s, method: :delete, class: "delete_task_accordion", data: { confirm: "Deseja deletar a tarefa TK-#{user_story.project.initial}-#{ s.id } #{s.title} ?" }, title: "Remover tarefa TK-#{user_story.project.initial}-#{ s.id } #{s.title}" do %>
                   <%= image_tag('delete_btn.png') %>
                 <% end %>               
                </div>  
              </div>
            </p> 
            <% end %>
           
          <br />
          <br /> 
    
   </div> 
     
<% end %>


  <% end %> 
  <br />
  <%= paginate @user_stories %>
  <br />
  <br />
  <br />
 </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    //$('.sortable').tablesort();
  });
  ///Accordion

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }

</script>




























