<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @repository.url %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @repository.rules %>
</p>

<p>
  <strong>Project:</strong>
  <%= @repository.project_id %>
</p>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
