<%= form_for(@function, html: {class: 'form'}) do |f| %>

   <% if @function.errors.any? %>
        <div class="alert_danger">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>     
              <div class="header">
            <% @function.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
    <% end%>

    <div>
      <b><%= f.label :name %></b>
      <br />
      <%= f.text_field :name %>    
    </div>

    <div>
     <b><%= f.label :description %></b>
     <br />
     <%= f.text_area :description %>
    </div>


    <%= link_to 'Salvar', new_function_path({ controller: 'functions', action: 'create' }), class: 'item save blue_button' %>
    <%= link_to 'Cancelar', functions_path, class: 'red_button' %>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });
</script> 