<p></p>

<div class="container", id="info_project">
 <br />
 <br />
 <br />
 <h2>Funções</h2>
    <div class="sub_title">Aqui você cria e gerencia as funções dos participantes dos projetos.</div>
    <br />       
     <hr>
   <br />   
  <table>
    <thead>
      <tr>
                <th>Função</th>
                <th>Descrição</th>
                <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @functions.each do |function| %>
        <tr>
            <td><%= function.name %></td>
            <td><%= function.description %></td>
            <td>
                  <%= link_to 'Editar', edit_function_path(function), class: 'blue_button', id: 'table_button' %>
                  <%= link_to 'Remover', function, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'red_button', id: 'table_button' %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
<%= link_to "Nova função", new_function_path, class: 'item blue_button' %>
</div>