<div class="container">
  <div class="ui menu">
    <h2>Tasks</h2>
  </div>

<p></p> 
<p></p>
<% if @tasks.empty? %> 
  <div class="box_center">
      <%= image_tag("clipboard.png") %>
      <br />
      <br />
      <p class="access_deny"> Nenhuma tarefa criada. Clique no botão "Nova tarefa" para criar uma nova task.</p>
          <%= link_to "Nova tarefa", new_task_path, class: 'green_button' %>
  </div>
<% end %>


<% @tasks.each do |task| %>

<p>
    <div class="kind_task_accordion">
         <% if task.kind_id == 1 %>
           <%= image_tag('bug.png', title: "Task do tipo BUG") %>
         <% else %>
           <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
         <% end %>
    </div>
          <%= link_to edit_task_path(task.id) do %>
             <div class="ui button"> TK-<%= task.user_story.project.initial %>-<%= task.id %> <%= task.title %></div>
          <% end %>

          <% if task.priority_id == 1 %>       
            <div class="ui compact mini icon red basic button">
            <b>Prioridade: </b>
             Alta
            </div>
          <% end %>

                 <% if task.priority_id == 2 %>
                    <div class="ui compact mini silver icon orange basic button ">
                        <b>Prioridade: </b>
                          Média
                    </div>
                 <% end %>

                  <% if task.priority_id == 3 %>
                    <div class="mini_green_button ">
                        <b>Prioridade: </b>
                        Baixa
                    </div>
                 <% end %>

                 <div class="mini_status_button"><b>Status: </b>
                     <% if task.status == 1 %>
                      Pendente
                     <% end %>
                     <% if task.status == 2 %>
                      Desenvolvimento
                     <% end %>
                     <% if task.status == 3 %>
                      Code Review
                     <% end %>
                     <% if task.status == 4 %>
                      QA
                     <% end %>
                     <% if task.status == 5 %>
                      Concluída
                     <% end %>
                </div>
                 
                 <%= link_to task, method: :delete, class: "delete_task_accordion", data: { confirm: "Deseja deletar a tarefa TK-#{task.user_story.project.initial}-#{ task.id } #{task.title} ?" }, title: "Remover tarefa TK-#{task.user_story.project.initial}-#{ task.id } #{ task.title}" do %>
                   <%= image_tag('delete_btn.png') %>
                 <% end %>
 <% end %>

 </p>
  </div>
</div>
<!-- /TABLE -->

