<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Tasks</strong></a>
    <%= link_to "Nova tarefa", new_task_path, class: 'item' %>
  </div>


<p></p> 
<p></p>
<% if @tasks.empty? %> 
  <div class="box_center">
      <%= image_tag("clipboard.png") %>
      <br />
      <br />
      <p class="access_deny"> Nenhuma tarefa criada. Clique no botão "Nova tarefa" para criar uma nova task.</p>
  </div>
<% end %>

<!-- TABLE -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Data criação</th>
                <th>Status</th>
                <th>User story</th>
                <th style="width: 20%;">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                                <td><%= task.description %></td>
                                <td><%= task.end_date %></td>
                                <td><%= task.start_date %></td>
                                <td><%= task.status %></td>
                                <td><%= task.user_story.description %></td>
                                <td>                    
                  <%= link_to task, class: 'btn btn-default', title: 'Exibir' do %>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <% end %>
                  <%= link_to edit_task_path(task), class: 'btn btn-default', title: 'Editar' do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <% end %>
                  <%= link_to "#modal-id-#{task.id}", class: 'btn btn-default', title: 'Remover', 'data-toggle': 'modal' do %>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <% end %>
                </td>
              </tr>
              <!-- MODAL -->
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="modal fade" id="modal-id-<%= task.id %>">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Alerta!</h4>
                      </div>
                      <div class="modal-body">
                        <p>Deseja realmente remover <strong><%= task.description %></strong>?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <%= link_to 'Remover', task, method: :delete, class: 'btn btn-danger' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /MODAL -->
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /TABLE -->

