<div class="container"> 
    <div class="ui menu">
      <a href="#" class="item active"><strong>Task</strong></a>
      <%= link_to 'Novo', new_task_path, class: 'item' %>
      <%= link_to 'Editar', edit_task_path(@task), class: 'item' %>
      <%= link_to 'Voltar', user_stories_path, class: 'item' %>
    </div>

      <p>
        <strong>Description:</strong>
        <%= @task.description %>
      </p>
            <p>
        <strong>End date:</strong>
        <%= @task.end_date %>
      </p>
            <p>
        <strong>Start date:</strong>
        <%= @task.start_date %>
      </p>
            <p>
        <strong>Status:</strong>
        <%= @task.status %>
      </p>
            <p>
        <strong>User story:</strong>
        <%= @task.user_story.description %>
      </p>
      
 </div>


