<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag "login.css" %>
        <%= stylesheet_link_tag "tipografia.css" %>
        <title>Kronos - Agile Management</title>
      
    </head>
    <body>
        <header>
            <%= image_tag("novo_logo.png", id: "logo") %>
        </header>
        
        <%= image_tag("Team work-amico.png", id: "image-left") %>
        <%= image_tag("Coworking-rafiki.png", id: "image-right") %>

        <div id="box-center">
		<br />
		

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>     
            <% flash.each do |message_type, message|%>
               <%= content_tag :div, message, class: [:alert, alert_for(message_type)], role: 'alert' do %>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <%= message %>
                <% end %>    
            <% end%>
            
			<%= f.email_field :email, autofocus: true, placeholder: "Email" %>					
            <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>
            <%= link_to "Esqueceu a senha", new_password_path(resource_name) %>
            <%= f.submit "Entrar", id: "btn_entrar" %>
        </div>
        <footer>
            <ul>
              <li>
                  <a href="../../about.html" target="_blank">Conheça o Kronos</a>
              </li>
              <li>
                  <a href="#">Termos de uso</a>
              </li>
              <li>
                  <a href="#">FAQ</a>
              </li>
            </ul>
        </footer>
    </body>
</html>

<% end %>




























