<%= form_for(@theme, html: {class: 'ui form'}) do |f| %>

 <% if @theme.errors.any? %>

        <div class="alert_danger">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <% @theme.errors.full_messages.each do |message| %>
                 <p>- <%= message %> </p>
                <% end %>
        </div>
       <p></p>
  <% end%>
    <div class="field">
      <%= f.hidden_field :project_id, :value => current_project.id %>
    </div>

    <div class="field">
      <b><%= f.label :name %></b>
      <br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <b><%= f.label :description %></b>
      <br />
      <%= f.text_area :description %>
    </div>

     <br />
        <%= link_to 'Salvar', new_theme_path({ controller: 'theme', action: 'create' }), class: 'item save blue_button' %>
       <%= link_to 'Cancelar', themes_path, class: 'item red_button' %>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

</script>