<script>
              tinymce.init({
                selector: 'textarea#file-picker-theme',
                height: 500,
                plugins: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table | link | image ',
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table | link | image ',

                image_title: true,

                automatic_uploads: true,

                file_picker_types: 'image',

                file_picker_callback: function (cb, value, meta) {
                  var input = document.createElement('input');
                  input.setAttribute('type', 'file');
                  input.setAttribute('accept', 'image/*');
               
                  input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
               
                      var id = 'blobid' + (new Date()).getTime();
                      var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                      var base64 = reader.result.split(',')[1];
                      var blobInfo = blobCache.create(id, file, base64);
                      blobCache.add(blobInfo);

                      cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                  };

                  input.click();
                },
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
              });
</script>


<%= form_for(@theme, html: {class: 'ui form'}) do |f| %>

 <% if @theme.errors.any? %>

        <div class="alert_danger">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <% @theme.errors.full_messages.each do |message| %>
                 <p>- <%= message %> </p>
                <% end %>
        </div>
       <p></p>
  <% end%>
    <div class="field">
      <%= f.hidden_field :project_id, :value => current_project.id %>
    </div>

    <div class="field">
      <b><%= f.label :name %></b>
      <br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <b><%= f.label :description %></b>
      <br />
      <%= f.text_area :description, class: "TinyMCE", id: "file-picker-theme" %>
    </div>

     <br />
        <%= link_to 'Salvar', new_theme_path({ controller: 'theme', action: 'create' }), class: 'item save blue_button' %>
       <%= link_to 'Cancelar', themes_path, class: 'item red_button' %>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

</script>