<div class="container">
  <div>
    <br />
    <h2>Tema</h2>
  </div>
  <%= render 'themes/breadcrumb' %>
<br />
<br />
<% if @themes.empty? %> 
  <div class="box_center">
   <br />
    <br />
      <%= image_tag("tema_big.png") %>
      <br />
      <br />
      <p class="access_deny">Nenhum tema criado. Clique em "Novo" para iniciar um tema.</p>
      <%= link_to "Novo tema", new_theme_path, class: 'item green_button' %>
    </div>
  </div>
<% else %>

  <table>
    <thead>
      <tr>
        <th width="280">Nome</th>
        <th width="280">Descrição</th>
        <th width="280">Ações</th>
      </tr>
    </thead>

    <%= link_to "Novo", new_theme_path, class: 'green_button' %>
    <br />
    <br />
    <tbody>
      <% @themes.each do |theme| %>
        <tr>
       
          <td><%= theme.name %></td>
          <td><%= theme.description.html_safe %></td>
          <td>
            <div class="ui buttons">
              <%= link_to 'Editar', edit_theme_path(theme), class: 'blue_button' %>
              <%= link_to 'Remover', theme, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse tema ?' }, class: 'red_button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
