<p></p>

<div class="container">
  <div class="ui menu">
    <br />
    <h2>Tema</h2>
  </div>
  <%= render 'themes/breadcrumb' %>
<br />
<br />

<% if @themes.empty? %> 
  <div class="box_center">
      <%= image_tag("tema_big.png") %>
      <br />
      <br />
      <p class="access_deny">Nenhum tema criado. Clique em "Novo" para iniciar um tema.</p>
      <%= link_to "Novo", new_theme_path, class: 'item green_button' %>
    </div>
  </div>
<% else %>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th width="290">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @themes.each do |theme| %>
        <tr>
       
          <td><%= theme.name %></td>
          <td><%= theme.description %></td>
          <td>
            <div class="ui buttons">
              <%= link_to 'Exibir', theme, class: 'blue_button' %>
            </div>
            <div class="ui buttons">
              <%= link_to 'Editar', edit_theme_path(theme), class: 'yellow_button' %>
            </div>
            <div class="ui buttons">
              <%= link_to 'Remover', theme, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse tema ?' }, class: 'red_button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Novo", new_theme_path, class: 'item green_button' %>
<% end %>
</div>