<p></p>

<div class="container">
  <div>
    <h2>Tema</h2>
    <%= link_to 'Novo', new_theme_path, class: 'item' %>
    <%= link_to 'Editar', edit_theme_path(@theme), class: 'item' %>
    <%= link_to 'Voltar', themes_path, class: 'item' %>
  </div>

  <p>
    <strong>Projeto:</strong>
    <%= @theme.project.name %>
  </p>

    <p>
    <strong>Nome:</strong>
    <%= @theme.name %>
  </p>

    <p>
    <strong>Descrição:</strong>
    <%= @theme.description %>
  </p>
  
</div>
