<%= form_for(@user, html: {class: 'ui form'}) do |f| %>


<% if @user.errors.any? %>
      <div class="ui container">
        <div class="ui negative message">
           <div class="close icon">x</div>
              <div class="header">
            <% @user.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
<% end%>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :group %>
      <%= f.select :group, options_for_select([:admin,:coordenador,:analista]), {}, { :class => 'form-control' } %> 
    </div>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});
</script>