
<br />

<div class="container">


<br /> <br />
  <div class="align_right">
        <%= form_tag(users_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Buscar usuários", class: "search_input" %>
              <%= image_submit_tag("search.png", class: "search_btn") %>   
        <% end %>
  </div>

  <h1>Usuários</h1>
     <div class="sub_title">Aqui você gerencia usuários.</div>
  <br />
  <hr>
 <br />   
 
 <%= link_to "Novo usuário", new_user_path, class: 'green_button', id: "btn_new_user" %>
<br />   
 <br />  
<div id="info_project">  
<div style="overflow-x: auto;">
  <table>
  
      <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Grupo</th>
          <th>Ações</th>
      </tr>
  

   
      <% @users.each do |user| %>
        <tr>
              <td>
                 <% if user.avatar.attached? %>
                     <%= image_tag(user.avatar_thumbnail, :class=> "image_thumbnail") %>
                 <% else %>
                     <%= image_tag("profile-no-image.png", :class=> "image_thumbnail") %>
                 <% end %>
                 <br />

                 <%= user.name %>
              </td>
                    <td><%= user.email %></td>
                    <td><%= user.group %></td>
          <td>
              <%= link_to 'Editar', edit_user_path(user), class: 'blue_button', id: 'table_button' %>
              <%= link_to 'Remover', user, method: :delete, data: { confirm: "Você tem certeza deletar o(a) usuário(a) #{ user.name } ?"}, class: 'red_button', id: 'table_button' %>
          </td>
        </tr>
      <% end %>
   
  </table>
</div>
</div>
    <br />
    <%= paginate @users %>  
    <br />
  
</div>
