<br />
<div class="container">
  <div class="align_right">
        <%= form_tag(users_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Buscar usuários", class: "search_input" %>
              <%= image_submit_tag("search.png", class: "search_btn") %>   
        <% end %>
  </div>

  <h1>Usuários</h1>
 
     <div class="sub_title">Aqui você gerencia usuários.</div>
  <br />
  <hr>
 <br />   
 <%= link_to "Novo usuário", new_user_path, class: 'green_button', id: "btn_new_user" %>
<br />   
 <br />   
 
  <table>
    <thead>
      <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Grupo</th>
          <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.group %></td>
          <td>
              <%= link_to 'Editar', edit_user_path(user), class: 'blue_button' %>
              <%= link_to 'Remover', user, method: :delete, data: { confirm: "Você tem certeza deletar o(a) usuário(a) #{ user.name } ?"}, class: 'red_button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <br />
    <%= paginate @users %>  
    <br />
  
</div>
