
  <h1>Configurações <%= image_tag("configuracao.png") %> </h1>
  <hr>
 <div class="ui four cards">
    <div class="card">
      <button class="ui bottom attached button" onclick="window.location.href='<%= functions_path %>'">
        <%= image_tag("team_configuration.png") %>
        <div class="description">
          Configure aqui a posição de cada membro no projeto.
           <p></p>
           <p></p>
        </div>
      </button>
   </div>

  <div class="card">   
      <button class="ui bottom attached button" onclick="window.location.href='<%= themes_path %>'"> 
         <%= image_tag("tema.png") %>
         <div class="description">
            Configure aqui os temas das user stories dos projetos
            <p></p>
            <p></p>
         </div>
    </button>
  </div>


</div>