<p></p>

<div class="container">
  <div>
  <br />
    <h2>Sprints</h2>
  </p>

  <%= render 'sprints/breadcrumb' %>
  </div> 
<div>
<br />
<br />
   <% if @sprints.empty? %> 
        <div class="box_center">
        <br />
            <br />
            <%= image_tag("access-denied.png") %>
            <br />
            <br />
            <p class="access_deny">Nenhuma sprint ativa no momento. Clique em "Nova Sprint" para criar.</p>
            <%= link_to "Nova sprint", new_sprint_path, class: 'green_button' %>
        </div>
   <% else %> 

<br />
<% if sprint_status_actived_count? %>
 <%= link_to "Nova sprint", new_sprint_path, class: 'green_button' %>
  <br />
  <br />
<% else %>
  <button type="button" class="silver_button" title="Já existe uma sprint ativa" disabled>Nova Sprint</button>
   <br />
   <br />
<% end %>

<% @sprints.each do |sprint| %>
  
<button class="accordion">
    <b class="accordion_title">
     <%= sprint.name %>
    </b>

    <div class="info_accordion">
      <% if sprint.sprint_status == 'ATIVA' && sprint.end_date < Time.now.strftime("%d/%m/%Y")  %>
        <div class="red_button">
          <%= image_tag("warning.png", class: 'warning')%> 
          Sprint atrasada
        </div> 
      <% end %>

    <a href='<%= user_stories_path %>' target="_blank" title="Acessar User stories">   
      <div class="info_sprint_user_story">
        User Stories :  <%= sprint.user_stories.count %>
      </div>
     
      <div class="info_sprint_bug">
        Bugs:
      <%= sprint.tasks.where(kind_id: 1).count %>
      </div>  

      <div class="info_sub_task">
        Sub-task: <%= sprint.tasks.where(kind_id: 2).count %>
      </div>
    </a>
       <div class="info_sprint_status">
          <%= sprint.sprint_status %>
       </div> 
    </div>
    
    
</button>


<div class="panel">
            <br />
       <div>
          <b>Release: </b>
          <% unless sprint.release.nil? %>
            <%= sprint.release.version %>
          <% else %>
            -
          <% end %>
       </div> 

      <div>
        <b>Criada em:</b>
        <%= l sprint.created_at %>
      </div>

       <div>
         <b>Duração: </b>
         <%= l sprint.start_date %> à <%= l sprint.end_date %>
       </div> 
     

       <div>
          <b>Planejamento: </b>
          <%= l sprint.planning_start_date %> à <%= l sprint.planning_end_date %> 
       </div> 

      <div>
          <b>Execução: </b>
          <%= l sprint.execution_start_date %> à <%= l sprint.execution_end_date %>  
       </div> 

       <div> <b>Review meeting: </b>
          <%= l sprint.review_meeting_date %>
       </div>

        <div>
          <b>Retrospective meeting: </b>
          <%= l sprint.retrospective_meeting_date %>
       </div> 


       <% if sprint.end_date < Time.now.strftime("%d/%m/%Y") && sprint.sprint_status == 'ATIVA' %>
         <div>
           <b>Dias em atraso:</b> < style="color: red;"><%= sprint_days_count %></i>
           
         </div>
      <% end %>

       <% if sprint.sprint_status == 'FINALIZADA' %>
         <div>
         <%if sprint_days_finished_count.nil? %>
           <b>Dias em atraso:</b>  Nenhum atraso 
         </div>
         <% else %>
         <b>Dias em atraso:</b> <i style="color: red;"> <% sprint_days_finished_count %></i>
         <% end %>
         <div>
           <b>Finalizada em:</b> <%= sprint.updated_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M:%S') %>
         </div>
      <% end %>

          <br />
          <% if sprint.sprint_status == "ATIVA" %>
            <%= link_to 'Editar', edit_sprint_path(sprint), class: 'blue_button' %> 
            <%= link_to 'Remover', sprint, method: :delete, data: { confirm: 'Você tem certeza que deseja remover a sprint?' }, class: 'red_button' %>
            <%= link_to 'Acessar board', scrumboard_path(current_project.id), class: 'black_button' %>
            <%= link_to 'Concluir a Sprint', change_sprint_path(sprint, { controller: 'sprints', action: 'change_status' } ), method: :post,  data: { confirm: 'Você tem certeza que deseja finalizar a sprint? ' }, class: 'orange_button' %>
          <% end %>             
            <br /> 
            <br />    
 </div>
   <% end %>
    <br />
    <br />
      <%= paginate @sprints %>  
   
    <br />
    <br />
      <% end %>

     

<script type="text/javascript">
  $(document).ready(function() {
    //$('.sortable').tablesort();
  });
  ///Accordion

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }

</script>


</div> 
</div>