<script>
              tinymce.init({
                selector: 'textarea#file-picker',
                height: 500,
                plugins: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table | link | image | media ',
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table | link | image | media ',
                /* enable title field in the Image dialog*/
                image_title: true,
                /* enable automatic uploads of images represented by blob or data URIs*/
                automatic_uploads: true,
                /*
                  URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
                  images_upload_url: 'postAcceptor.php',
                  here we add custom filepicker only to Image dialog
                */
                file_picker_types: 'image, media',
                /* and here's our custom image picker*/
                file_picker_callback: function (cb, value, meta) {
                  var input = document.createElement('input');
                  input.setAttribute('type', 'file');
                  input.setAttribute('accept', 'image/*, media/*');

                  /*
                    Note: In modern browsers input[type="file"] is functional without
                    even adding it to the DOM, but that might not be the case in some older
                    or quirky browsers like IE, so you might want to add it to the DOM
                    just in case, and visually hide it. And do not forget do remove it
                    once you do not need it anymore.
                  */
               
                  input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                      /*
                        Note: Now we need to register the blob in TinyMCEs image blob
                        registry. In the next release this part hopefully won't be
                        necessary, as we are looking to handle it internally.
                      */
                      var id = 'blobid' + (new Date()).getTime();
                      var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                      var base64 = reader.result.split(',')[1];
                      var blobInfo = blobCache.create(id, file, base64);
                      blobCache.add(blobInfo);

                      /* call the callback and populate the Title field with the file name */
                      cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                  };

                  input.click();
                },
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
              });
</script>

<script>
$( function initPage() {
      $("#startDatepicker").datepicker({
       dateFormat: 'dd/mm/yy',
       dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
       dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
       dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
       monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
       monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
       nextText: 'Próximo',
       prevText: 'Anterior',
       type: 'date',
       minDate:new Date()
     });
     
     $( "#endDatepicker" ).datepicker({
       buttonImageOnly: true,
       dateFormat: 'dd/mm/yy',
       dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
       dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
       dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
       monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
       monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
       nextText: 'Próximo',
       prevText: 'Anterior',
       type: 'date',
       minDate:new Date()
     });
  } );
</script>

<%= form_for(@project, html: {class: 'form'}) do |f| %>
    <% if @project.errors.any? %>
        <div class="alert_danger">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <div class="header">
            <% @project.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
          </div>
    <% end%>

  <div>
    <b><%= f.label :name %></b>
    <br />
    <%= f.text_field :name %>
  </div>

   <div>
    <b><%= f.label :initial %></b>
    <br />
    <%= f.text_field :initial, maxlength: 6 %>
  </div>


  <div>
    <br />
    <b><%= f.label :prioridade %></b>
    <br />
    <%= f.select :priority_id, Priority.all.collect {|x| [x.name, x.id]}, { prompt: 'Selecione a prioridade do projeto' } %>
  </div>

   <br />
    <div>
      <b><%= f.label :dificuldade %></b>
       <br />
      <%= f.select :difficulty,  Priority.all.collect {|x| [x.name, x.id]}, { :class => 'form-control', prompt: 'Selecione a dificuldade do projeto' }  %> 
    </div>

  
  <br />
  <div><b>Duração</b></div>
  <div>
        <%= f.text_field :start_date, placeholder: 'Data inicial', id: 'startDatepicker' %>
        <p style="margin-right: 1em; margin-left: 1em">à</p>
        <%= f.text_field :end_date, placeholder: 'Data final', id: 'endDatepicker' %>
  </div>


 <div>
    <b><%= f.label :description %></b>
    <br />
    <%= f.text_area :description, class: "tinymce", id: "file-picker" %>
  
 </div>
    <br />

    <%= link_to 'Salvar', new_project_path({ controller: 'project', action: 'create' }), class: 'save blue_button' %>
    <%= link_to 'Cancelar', projects_path, class: 'red_button' %>

    <br />
    <br />
<% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit(); 
  });
</script>