<style type="text/css">
    .ui-widget-header {
      background: #4DD257;
			border-radius: 5px;
    }
</style>

<br />
<br />
<% @projects.each do |project| %>

  <div class="card">
    <div class="content_title">
      <div class="header"><%= project.name %></div>
    </div>

    <div class="content">
      <div class="description">
        <p class="info"><%= image_tag("initial.png") %> <strong>Sigla: </strong><%= project.initial %></p>
        <p class="info"><%= image_tag("calendar_icon.png") %> <strong>Iniciado em:</strong> <%= l project.start_date %></p>
        <p class="info"><%= image_tag("calendar_icon.png") %> <strong>Término previsto:</strong> <%= l project.end_date %></p>
        <p class="info"><%= image_tag("team_icon.png") %> <strong>Membros:</strong> <%= project.members_number %></p>
        <p class="info"><%= image_tag("sprint_icon.png") %> <strong>Sprint atual:</strong> 
         <% if project.current_sprint.nil? %> 
             -
        <% else %>
        <%= project.current_sprint %>
        <% end %></p>
       
       <br />
        <div id="progressbar" class="ui-progressbar-value ui-widget-header ui-corner-left" style="border: 1px solid black; color: black; height:30px; padding-top: 10px; text-align: center; width:<%= project.progress %>%;">
       <%= project.progress %>%
        </div>       
        <br />
          <p>
         <% if project.end_date < Time.now.strftime('%d/%m/%Y') %>
            <div class="button_warning" title="Existem tarefas em atraso">
                <b> Projeto atrasado </b>   
            </div> 
           <% else %>
            <div class="button_status">
                <b> Sem alertas </b>   
            </div> 
           <% end %>
        </p>
      </div>
    </div>


    <button class="button_card" onclick="window.location.href='<%= select_project_path(project) %>'">
      Acessar
    </button>
  </div>
  
<% end %>

<script>
    $(function() {
        $("#progressbar").progressbar({
            value: project.progress
        });
    });
</script>