<!-- MODAL TAREFA -->
<div class="ui small modal usertory-<%= us.id %>">
  
  <div class="header">
 US-<%= us.project.initial%>-<%= us.id %> <%= us.title %>
  </div>
  
  <div class="content">
    <div class="ui grid">
      <div class="row">
        <div class="sixteen wide tablet sixteen wide computer column">
          <p>
            <strong>Descrição:</strong>
            <%= us.description %>    
          </p>
        </div>
      </div>
    </div> 
  </div>
</div> 
<!-- /MODAL TAREFA -->