

<div class="container">
<br />
<h2> Gráficos do projeto <%= current_project.name %> : </h2>

<%= render 'charts/breadcrumb' %>
<br />
<br />
<br />

<% if @project.user_stories.empty? %>
<div class="box_center"> 
   <%= image_tag("pie-chart.png") %>
            <br />
            <br />
   <p class="access_deny">Esse projeto não possui nenhum gráfico no momento.</p>
</div>
<% else %>

<div class="content_charts">

  <b> User Stories:</b> <%= user_story_by_project_count  %> <br />
  <b> Sprints:</b> <%= sprint_by_project_count %> <br />
  <b> Tarefas do tipo "Sub-task":</b> <%= sub_task_by_project_count %> <br />
  <b> Tarefas do tipo "Bug": </b> <%= bug_by_project_count %> <br />
  <b> Membros do squad: </b><%= users_by_project_count %>

</div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = google.visualization.arrayToDataTable([
            ['User stories', 'Quantidade x Status'],
            ['Pendente', <%= user_story_pending_count %> ],
            ['Desenvolvimento', <%= user_story_development_count %> ],
            ['Code Review', <%= user_story_code_review_count %> ],
            ['QA', <%= user_story_qa_count %> ],
            ['Concluída', <%= user_story_finished_count%> ]
          ]);

          var options = {
            title: 'Status das Users Stories'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_user_stories'));

          chart.draw(data, options);
        }
    </script>

    <!--
    END User Stories piechart
    -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = google.visualization.arrayToDataTable([
            ['User stories', 'Bugs x Status'],
            ['Sub-task',  <%= sub_task_by_project_count %> ],
            ['Bug', <%= bug_by_project_count %> ]
          ]);

          var options = {
            title: 'Subtasks x Bugs'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_task'));

          chart.draw(data, options);
        }
      </script>
   <!--
    END Status bug piechart
   -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = google.visualization.arrayToDataTable([
            ['User stories', 'Bugs x Status'],
            ['Pendente', <%= bug_pending_project_count %>  ],
            ['Desenvolvimento', <%= bug_development_project_count %>  ],
            ['Code Review', <%= bug_code_review_project_count %> ],
            ['QA', <%= bug_qa_project_count %> ],
            ['Concluída', <%= bug_finished_project_count %> ]
          ]);

          var options = {
            title: 'Status das tasks de BUG'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_status_bug'));

          chart.draw(data, options);
        }
    </script>
    <!--
    END Use Stories piechart
    -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = google.visualization.arrayToDataTable([
            ['User stories', 'Bugs x Status'],
            ['Pendente', <%= sub_task_pending_project_count %>  ],
            ['Desenvolvimento', <%= sub_task_development_project_count %>  ],
            ['Code Review', <%= sub_task_code_review_project_count %> ],
            ['QA', <%= sub_task_qa_project_count %> ],
            ['Concluída', <%= sub_task_finished_project_count %> ]
          ]);

          var options = {
            title: 'Status das Subtasks'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_status_subtask'));

          chart.draw(data, options);
        }
      </script>






<script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = google.visualization.arrayToDataTable([
            ['Tarefas', 'Com flag de impedimento'],
            ['Tarefa com impedimento', <%= task_flag_count %>  ],
            ['Tarefa sem impedimento', <%= task_without_flag_count %>  ],
          ]);

          var options = {
            title: 'Relação de tarefas com impedimentos'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_task_flag'));

          chart.draw(data, options);
        }
      </script>



<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Membros', 'Quantidade'],
        <% task_by_users.each do |ts| %>
            ["<%= ts['name'] %>", <%= ts['COUNT(*)'] %>],
        <% end %>    
        ]);

        var options = {
          title: 'Relação de Membros x Tasks',
          width: 800,
          legend: { position: 'none' },
          chart: { title: 'Relação de Membros x Tasks',
                   subtitle: 'BUGs e SubTaks' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Quantidade'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
 
      <div>
          
          <% if @project.tasks.empty? %>
          <% else %>


          <div class="card">
           <div id="piechart_user_stories" style="width: 400px; height: 300px;"></div>
          </div>
             


              <div class="card">    
                <div id="piechart_task" style="width: 400px; height: 300px;"></div>
              </div>

              <div class="card">
                <div id="piechart_status_subtask" style="width: 400px; height: 300px;"></div> 
              </div>

              <div class="card">
                <div id="piechart_status_bug" style="width: 400px; height: 300px;"></div> 
              </div>
             
              <div class="card">
                <div id="piechart_task_flag" style="width: 400px; height: 300px;"></div> 
              </div>

             <br />
              <div class="card">
                  <div id="top_x_div" style="width: 900px; height: 500px;"></div> 
              </div>
           <br/>

          <% end %>
      </div>

         

    </div> 
<% end %>