<br />

<div class="container">
  <% if current_user.group != 'admin' && current_user.group != 'coordenador' %>
    <h1>Projetos <%= image_tag("gerenciamento-de-projetos.png") %></h1>
    <hr>
    <p></p>
  
    <% if @projects.empty? %> 
        <div class="box_center">
        <br />
        <br />
            <%= image_tag("access-denied.png") %>
            <br />
            <br />
            <p class="access_deny">Você não possui nenhum projeto. Entre em contato com o administrador / PO.</p>
        </div>
    </div>
<% end %>
    <%= render 'projects/list_projects_default' %>
  <% else %> 
  
      <div class="align_right">
        <%= form_tag(projects_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Buscar projetos", class: "search_input" %>
              <%= image_submit_tag("search.png", class:'search_btn', id: "btn_seach") %>
        <% end %>
      </div>
     

      <h1>Projetos</h1>
        <div class="sub_title">Aqui você cria e gerencia seus projetos. </div>
      <hr>
  
    <%= render 'projects/list_projects_admin' %> 
  
    <br />
      <%= paginate @projects %>  
    <br />
    <br />
    <br />
  </div>
 <% end %>
</div> 
