

<p></p>

<div class="ui container">
  <% if current_user.group != 'admin' && current_user.group != 'coordenador' %>
    <h1>Projetos <%= image_tag("gerenciamento-de-projetos.png") %></h1>
    <hr>
    <p></p>

    <% if @projects.empty? %> 
        <div class="box_center">
            <%= image_tag("access-denied.png") %>
            <br />
            <br />
            <p class="access_deny">Você não possui nenhum projeto. Entre em contato com o administrador / PO.</p>
        </div>
    </div>
<% end %>
    <%= render 'projects/list_projects_default' %>
  <% else %>
  
    <div class="ui menu">
      <a href="#" class="item active"><strong>Projetos</strong></a>
    </div>

    <%= render 'projects/list_projects_admin' %> 


    <br />
    <%= paginate @projects, class: "pagination" %>  
  <% end %>

</div>
