<div class="container">  
<br />
<h1>Board <%= image_tag("scrumboard-icon.png")%></h1>
<hr>
 <br />
 <br />
<% if @project.sprints.empty? && current_user.group == 'analista' %> 
        <div class="box_center">
            <%= image_tag("access-denied.png") %>
            <br />
            <br />
            <p class="access_deny">Nenhuma sprint ativa no momento. Entre em contato com o administrador / PO.</p>
        </div>


<% elsif @project.sprints.empty? && current_user.group != 'coordenador' %>
        <div class="box_center">
            <%= image_tag("access-denied.png") %>
            <br />
            <br />
            <p class="access_deny">Nenhuma sprint ativa no momento.</p>
            <%= link_to "Criar sprint", new_sprint_path, class: " green_button"%>
        </div>
<% end %>

<% else %>


<div class=" top attached tabular menu">
  <% @project.sprints.each_with_index do |sprint, i| %>
    <a class="item <%= 'active' if i == 0 %>" data-tab="tab-<%= sprint.id %>">Sprint: <%= sprint.name %></a>
    &nbsp
    <%= link_to "Nova User Story", new_user_story_path, class: "red_button" %> 
    <%= link_to "Nova task", new_task_path, class: "blue_button" %>
  <% end %>
</div>

<% @project.sprints.each_with_index do |sprint, i| %>
<div class=" bottom attached tab segment <%= 'active' if i == 0 %>" data-tab="tab-<%= sprint.id %>">

  <table class=" very celled table">
    <thead>
      <tr>
        <th>Duração</th>
        <th>Planejamento</th>
        <th>Execução</th>
        <th>Review meeting</th>
        <th>Retrospective meeting</th>
        <th>Release</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= l sprint.start_date %> à <%= l sprint.end_date %>    
        </td>
        <td>
          <%= l sprint.planning_start_date %> à <%= l sprint.planning_end_date %>    
        </td>
        <td>
          <%= l sprint.execution_start_date %> à <%= l sprint.execution_end_date %>    
        </td>
        <td><%= l sprint.review_meeting_date %></td>
        <td><%= l sprint.retrospective_meeting_date %></td>
        <td><%= sprint.release.version unless sprint.release.nil? %></td>
      </tr>
    </tbody>
  </table>

  <div class=" teal progress" data-percent="<%= sprint.progress %>">
    <div class="bar"></div>
    <div class="label">
      <%= sprint.progress %>% Concluído
    </div>
  </div>

  <table class=" very  celled table">
    <thead>
      <tr>
        <th width="25%">Pendente</th>
        <th width="25%">Desenvolvimento</th>
        <th width="25%">Code Review</th>
        <th width="25%">QA</th>
        <th width="25%">Concluído</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <%= render partial: 'projects/modal_tasks', locals: {us: us} %>

          <% us.tasks.where(status: 1).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class=" orange card">
              <div class="content">           
                <div class="meta">

                  <%= link_to task_path(task.id) do %>
                  <h3>
                 
                     <% if task.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
                 
                     <span class="category">TK-<%= @project.initial %>-<%= task.id %>  <%= task.title %></span>
                  </h3>
                <% end %>
                </div>
                <div class="description">
                  <p>
                        <a href="#" data-modal="usertory-<%= us.id %>" class="  mini button modal-task">
                          Detalhes
                        </a>

                        <%= link_to take_task_path(task.id), class: '  mini teal button' do %>
                          Atribr
                        <% end %>
                  </p>

                  <p>
                  Criada em: <%= l task.created_at%>
                 <% if task.priority_id == 1 %>
                    <div class=" compact mini icon red basic button">
                    <b>Prioridade: </b>
                    </div>
                 <% end %>

                 <% if task.priority_id == 2 %>
                    <div class=" compact mini silver icon orange basic button ">
                        <b>Prioridade: </b>
                          Média
                    </div>
                 <% end %>

                  <% if task.priority_id == 3 %>
                    <div class=" compact mini icon green basic button ">
                        <b>Prioridade: </b>
                        Baixa
                    </div>
                 <% end %>
                  </p>
                     
                </div>

              </div>
               
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <%= image_tag 'avatar.svg', class: ' avatar image' %> <%= u.name %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>       
          <% us.tasks.where(status: 2).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class=" teal card">
              <div class="content">
                <div class="meta">
                <%= link_to task_path(task.id) do %>
                  <h3>
                 
                     <% if task.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
                 
                     <span class="category">TK-<%= @project.initial %>-<%= task.id %>  <%= task.title %></span>
                  </h3>
                <% end %>
                </div>
                 <div class="description">
                  <div class=" mini icon buttons">
                  
                    <a href="#" data-modal="usertory-<%= us.id %>" class=" mini icon button modal-task" title="Detalhes">
                    <%= image_tag("info.png") %>
                    </a>
                 
                    <%= link_to get_out_task_path(task.id), class: ' mini yellow button', title: 'Voltar para a coluna pendente' do %>
                      Sair
                    <% end %>

                    <%= link_to take_task_path(task.id), class: ' mini orange button', title: 'Participar da tarefa' do %>
                      Ajudar
                    <% end %>

                    <%= link_to send_to_code_review_path(task.id), class: ' mini teal button', title: 'Enviar para Code Review' do %>
                      Code Review
                    <% end %>
                 
                  </div>

                
                  <p>
                  <br />
                      Criada em: <%= l task.created_at%>
                      <% if task.priority_id == 1 %>
                         <div class=" compact mini icon red basic button">
                         <b>Prioridade: </b>
                          Alta
                         </div>
                      <% end %>

                      <% if task.priority_id == 2 %>
                         <div class=" compact mini silver icon orange basic button">
                             <b>Prioridade: </b>
                               Média
                         </div>
                      <% end %>

                      <% if task.priority_id == 3 %>
                        <div class=" compact mini icon green basic button">
                            <b>Prioridade: </b>
                            Baixa
                        </div>
                      <% end %>
                  </p>   
             </div>
              
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>

        <% if u.avatar.attached? %>
            <%= image_tag(u.avatar_thumbnail, :class=> "image_profile_card") %>
           <% else %>
            <%= image_tag("profile-user.png", :class=> "image_profile_card") %>
        <% end %>

          <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          <% us.tasks.where(status: 3).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class=" teal card">
              <div class="content">
                <div class="meta">
                    <%= link_to task_path(task.id) do %>
                  <h3>
                 
                     <% if task.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
                 
                     <span class="category">TK-<%= @project.initial %>-<%= task.id %>  <%= task.title %></span>
                  </h3>
                <% end %>  
                 </div>

                <div class="description">
                  <div class=" mini icon buttons">
                        <a href="#" data-modal="usertory-<%= us.id %>" class=" mini icon button modal-task" title="Detalhes">
                          <%= image_tag("info.png") %></a>
                        <%= link_to get_out_task_path(task.id), class: ' mini orange button' do %>
                          Pendente
                        <% end %>
                        <%= link_to take_task_path(task.id), class: ' mini red button' do %>
                          Desenvolvimento
                        <% end %>
                        <%= link_to send_task_to_test_path(task.id), class: ' mini green button' do %>
                          QA
                        <% end %>
                  </div>
  
                  <p>
                  <br />
                     Criada em: <%= l task.created_at%>
                    <% if task.priority_id == 1 %>
                       <div class=" compact mini icon red basic button">
                       <b>Prioridade: </b>
                        Alta
                       </div>
                    <% end %>

                    <% if task.priority_id == 2 %>
                       <div class=" compact mini silver icon orange basic button ">
                           <b>Prioridade: </b>
                             Média
                       </div>
                    <% end %>

                     <% if task.priority_id == 3 %>
                       <div class=" compact mini icon green basic button ">
                           <b>Prioridade: </b>
                           Baixa
                       </div>
                    <% end %>
                 </p>
               </div>
 
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <% if u.avatar.attached? %>
                          <%= image_tag(u.avatar_thumbnail, :class=> "image_profile_card") %>
                    <% else %>
                        <%= image_tag("profile-user.png", :class=> "image_profile") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>


         <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
      

          <% us.tasks.where(status: 4).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class=" blue card">
              <div class="content">
                <div class="meta">
                    <%= link_to task_path(task.id) do %>
                  <h3>
                 
                     <% if task.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
                 
                     <span class="category">TK-<%= @project.initial %>-<%= task.id %>  <%= task.title %></span>
                  </h3>
                <% end %> 
                </div>
                <div class="description">
          
                  <div class=" mini icon buttons">
                    <a href="#" data-modal="usertory-<%= us.id %>" class=" mini icon button modal-task" title="Detalhes">
                      <%= image_tag("info.png") %>
                    </a>

                    <%= link_to get_out_task_path(task.id), class: ' mini orange button' do %>
                      Sair
                    <% end %>
                    
                    <%= link_to take_task_path(task.id), class: ' mini red button' do %>
                          Desenvolvimento
                        <% end %>

                    <%= link_to send_to_code_review_path(task.id), class: ' mini teal button' do %>
                      Code Review
                    <% end %>

                    <%= link_to take_task_path(task.id), class: ' mini teal button', title: 'Participar da tarefa' do %>
                      Ajudar
                    <% end %>

                    <%= link_to done_task_path(task.id), class: ' mini green button' do %>
                      Pronto
                    <% end %>
                  </div>

                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                   <% if u.avatar.attached? %>
                          <%= image_tag(u.avatar_thumbnail, :class=> "image_profile_card") %>
                    <% else %>
                        <%= image_tag("profile-user.png", :class=> "image_profile_card") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <% us.tasks.where(status: 5).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class=" green card">
              <div class="content">
                
                <div class="meta">
                    <%= link_to task_path(task.id) do %>
                  <h3>
                 
                     <% if task.kind_id == 1 %>
                       <%= image_tag('bug.png', title: "Task do tipo BUG") %>
                     <% else %>
                       <%= image_tag('clipboard-task.png', title: "Task do tipo Sub-task") %>
                     <% end %>
                 
                     <span class="category">TK-<%= @project.initial %>-<%= task.id %>  <%= task.title %></span>
                  </h3>
                <% end %> 
                </div>
                <div class="description">
                  <div class=" mini icon buttons">
                    <a href="#" data-modal="usertory-<%= us.id %>" class="  mini icon button modal-task" title="Detalhes">
                      <%= image_tag("info.png") %>
                    </a>
                    <%= link_to redo_task_path(task.id), class: '  mini teal button', title: 'Enviar para teste' do %>
                      Refazer
                    <% end %>
                  </div>
                  <p></p>
                  <% unless task.start_date.nil? %>
                  <p>
                    <strong>Inicio em:</strong>
                    <%= l task.start_date %>
                  </p>
                  <% end %>
                  
                  <% unless task.end_date.nil? %>
                  <p>
                    <strong>Concluído em:</strong>
                    <%= l task.end_date %>
                  </p>
                  <% end %>
                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <% if u.avatar.attached? %>
                          <%= image_tag(u.avatar_thumbnail, :class=> "image_profile_card") %>
                    <% else %>
                        <%= image_tag("profile-user.png", :class=> "image_profile_card") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<% end %>


<script type="text/javascript">
  $('.tabular.menu .item').tab();

  $('.modal-task').click(function(){
    $('.'+$(this).attr('data-modal')).modal('show');
    return false;
  });

  $('.progress').progress();
</script>