

<style type="text/css">
    .ui-widget-header {
      background: #4DD257;
			border-radius: 5px;
    }
</style>

<div class="container" id="info_project">
  <br />
   <br />
   <br />
  <h2> Gestão do projeto </h2>
  <% if current_user.admin? || current_user.coordenador? %>
  <div class="align_right">
     <%= link_to "Editar", edit_project_path(@project), class: 'blue_button' %>
     <%= link_to 'Deletar', @project, method: :delete, data: { confirm: "Deseja deletar o projeto '#{ @project.name }' ? Se sim você vai perder todos os dados de backlog, sprint, release e usuários associados a ele." }, class: 'item red_button' %>    
  </div>
  <% end %>
  <br />
  <p class="info"><%= image_tag("project_icon.png") %> <strong>Projeto:</strong> <%= @project.name %></p>
  <p class="info"><%= image_tag("initial.png") %> <strong>Sigla:</strong> <%= @project.initial.upcase %></p>
  <p class="info"><%= image_tag("width.png") %><strong> Tamanho:</strong> <%= @project.size %> Story points</p>
  <p class="info"><%= image_tag("calendar_icon.png") %> <strong>Data de inicio:</strong> <%= l @project.start_date %></p>
  <p class="info"><%= image_tag("calendar_icon.png") %> <strong>Data final:</strong> <%= l @project.end_date %></p>
  <p class="info"><%= image_tag("difficulty_icon.png") %> <strong>Dificuldade:</strong> 
          <% if @project.difficulty == "1" %>
            <b class="high_priority">Alta</b>
          <% end %>
          <% if @project.difficulty == "2" %>
            <b class="medium_priority">Média</b>
          <% end %>
          <% if @project.difficulty == "3" %>
            <b class="low_priority">Baixa</b>
          <% end %>
        </p>
        <p class="info">
           <%= image_tag("priority_icon.png") %> 
           <strong>Prioridade:</strong> 
              <% if @project.priority_id == 1 %>
                <b class="high_priority">Alta</b>
              <% end %>
              <% if @project.priority_id == 2 %>
                <b class="medium_priority">Média</b>
              <% end %>
              <% if @project.priority_id == 3 %>
                <b class="low_priority">Baixa</b>
              <% end %>
        </p>
  <p class="info"><%= image_tag("product-description.png") %> <strong>Descrição:</strong></p>

  <br />
  <p>
    <%= @project.description.html_safe %>
    <%= tinymce %>


  </p>

  </div>

</div>
<br />
     <div class="container" id="card_session">
           <div id="progressbar" class="ui-progressbar-value ui-widget-header ui-corner-left" style="border: 1px solid black; color: black; height:30px; padding-top: 10px; text-align: center; width:<%= @project.progress %>%;">
          <p>Progresso <%= @project.progress %>%</p>
     </div>
    
     <% if @project.end_date < Time.now.strftime("%d/%m/%Y") %>
             <div class="button_warning">
                <b> Projeto atrasado </b>   
            </div> 
     <% end %>
     <br />
        <button class="card" onclick="window.location.href='<%= user_stories_path %>'" id="user_stories">
         <%= image_tag("backlog.png") %>
         <div class="description">
           Aqui você administra o backlog das tarefas do projeto <%= @project.name %>.
           
         </div>
      </button>

     <button class="card" onclick="window.location.href='<%= sprints_path %>'" id="sprints">
         <%= image_tag("scrum.png") %>
         <div class="description">
          Gerencie aqui frequência na entrega de valor ao negócio.
          <p></p>
          <p></p>
         </div>
      </button>

    <button class="card" onclick="window.location.href='<%= releases_path %>'" id="releases">   
        <%= image_tag("product-release.png") %>
         <div class="description">
             Gerencie aqui as fases de entrega do software.
         <p></p>
         <p></p>
       </div>
    </button>
    

    <% if current_user.group == "admin" || current_user.group == "coordenador" %>
        <button class="card" onclick="window.location.href='<%= function_user_projects_path %>'" id="function_user_projects">   
            <%= image_tag("team.png") %>
            <div class="description">
              Aqui você administra a equipe responsável pelo desenvolvimento do projeto.
            </div>
        </button>
    <% end %>

    <button class="card" onclick="window.location.href='<%= scrumboard_path(@project.id) %>'" id="scrumboards">   
            <%= image_tag("kanban_icon.png") %>
            <div class="description">
             Acesse o board referente as sprints do projeto <%= @project.name %>.
             </div>
            <p></p>
            <p></p>
    </button>

      <button class="card" onclick="window.location.href='<%= themes_path %>'" id="theme"> 
         <%= image_tag("tema.png") %>
         <div class="description">
            Configure aqui os temas das user stories dos projetos
         </div>
    </button>

      <button class="card" onclick="window.location.href='<%= chart_url %>'" id="chart"> 
         <%= image_tag("barra-do-grafico.png") %>
         <div class="description">
            Acompanhe os relatórios e gráficos do andamento do projeto.
         </div>
    </button>

<% if current_user.group == "admin" || current_user.group == "coordenador" %>
 <button class="card" onclick="window.location.href='<%= managment_risks_url %>'" id="chart"> 
         <%= image_tag("report.png") %>
         <div class="description">
            Acompanhe o gerenciamento de risco.
            <br /><br />
         </div>
    </button>
<% end %>

    
    <br />
     <br />
      <br />
</div>
</div>
<script>
    $(function() {
        $("#progressbar").progressbar({
            value: project.progress
        });
    });
</script>