<%= form_for(@function_user_project, html: {class: 'form'}) do |f| %>
     <% if @function_user_project.errors.any? %>
        <div class="alert_danger">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <% @function_user_project.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
         </div>
       <p></p>
    <% end%>

    <div>
      <b><%= f.label :user_id %></b>
      <%= f.collection_select(:user_id, User.all, :id, :name) %>
    </div>

    <div>
      <b><%= f.label :function_id %></b>
      <%= f.collection_select(:function_id, Function.all, :id, :name, {:prompt => 'Selecione uma função'}) %>
    </div>

    <br />
      <%= link_to 'Salvar', new_function_user_project_path({ controller: 'function_user_projects', action: 'create' }), class: 'save blue_button' %>
      <%= link_to 'Cancelar', function_user_projects_path, class: 'red_button' %>
  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();    
  });
</script>