<p></p>

<div class="container" id="info_project">
  <div>
  <br />
   <br />
    <br />
    <h2>Membros</h2>
    
  </div>



  <%= render 'function_user_projects/breadcrumb' %>


 <% if @function_user_projects.empty? %>
    <div class="box_center">
      <%= image_tag("teamwork.png") %>
      <br />
      <br />
      <p class="access_deny">Nenhum usuário está associado a esse projeto. Clique em "Associar" para incluí-lo no projeto.</p>
      <%= link_to "Associar", new_function_user_project_path, class: 'green_button' %>
    </div>
  </div>
 <% else %>


   <%= link_to "Associar", new_function_user_project_path, class: 'green_button' %>
  <br />
  <br />
  <table>
    <thead>
      <tr>
                <th>Usuário</th>
                <th>Função</th>
                <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @function_user_projects.each do |function_user_project| %> 
        <tr>

                    <td>
                     <% if function_user_project.user.avatar.attached? %>
                     <%= image_tag(function_user_project.user.avatar_thumbnail, :class=> "image_thumbnail") %>
                 <% else %>
                     <%= image_tag("profile-no-image.png", :class=> "image_thumbnail") %>
                 <% end %>
                 <br />
                 <%= function_user_project.user.name %> </td>
                    <td><%= function_user_project.function.name %></td>
                    <td>
      
           
              <%= link_to 'Editar', edit_function_user_project_path(function_user_project), class: 'blue_button', id: 'table_button' %>
          
            <%= link_to 'Remover', function_user_project, method: :delete, data: { confirm: 'Deseja realmente remover o(a) usuário(a) "'"#{function_user_project.user.name}"'" do projeto?' }, class: 'red_button', id: 'table_button' %>
          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
