
<%= form_for(@release, html: {class: 'form'}) do |f| %>

 <% if @release.errors.any? %>
        <div class="alert_danger">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>     
        
              <div class="header">
            <% @release.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
  <% end%>

    <div>
      <b><%= f.label :version %></b>
       <br />
    <%= f.text_field :version %>
    </div>

    <div>
      <b><%= f.label :deliver_date %></b>
      <br />
    <%= f.date_select :deliver_date %>
    </div>
       <%= link_to 'Salvar', new_release_path({ controller: 'releases', action: 'create' }), class: 'ui save blue_button' %>
    <%= link_to 'Cancelar', releases_path, class: 'item ui red_button' %>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });


</script>