
<%= form_for(@release, html: {class: 'form'}) do |f| %>

 <% if @release.errors.any? %>
        <div class="alert_danger">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>     
        
              <div class="header">
            <% @release.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
  <% end%>

    <div>
      <b><%= f.label :version %></b>
       <br />
    <%= f.text_field :version %>
    </div>

    <div>
      <b><%= f.label :deliver_date %></b>
      <br />
    <%= f.text_field :deliver_date, id: "startDuration" %>  
    </div>
       <%= link_to 'Salvar', new_release_path({ controller: 'releases', action: 'create' }), class: 'ui save blue_button' %>
    <%= link_to 'Cancelar', releases_path, class: 'item ui red_button' %>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

$( function() {
      $("#startDuration").datepicker({
       dateFormat: 'dd/mm/yy',
       dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
       dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
       dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
       monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
       monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
       nextText: 'Próximo',
       prevText: 'Anterior',
       type: 'date',
       minDate:new Date()
     });
         
  } );
</script>