<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Kronos - Agile Projects</title>
    <%= stylesheet_link_tag 'layout', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'responsive-nav', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">	
	  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">   
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</head>

<body>

    <% if !user_signed_in? %>
      <%= render 'layouts/default_top_menu_bar' %>
      <%= yield %>
     
    <% else %>
      <%= render 'layouts/user_top_menu_bar' %>
      <%= render 'layouts/admin_side_bar' if current_user.group == 'admin' %>
      <%= render 'layouts/user_side_bar' if current_user.group != 'admin' %>

      <!-- content -->

      <%= render 'layouts/alert_messages' %>
        <%= yield %>
    <% end %>

</body>
</html>
 