  
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form', method: :put }) do |f| %>
        <br />
        <br />
        <div class="container" id="info_project"> 
         <% if resource.errors.any? %>
   <br />
        <div class="alert_danger">
           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <div class="header">
            <% resource.errors.full_messages.each do |message| %>
                <p> - <%= message %> </p>
            <% end %>
          </div>
         </div>
       <p></p>
    <% end%>



         <br />
         <br />
          <h1>Editar perfil</h1>
          <br />
           <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar_thumbnail, :class=> "image_profile") %>
           <% else %>
            <%= image_tag("profile-no-image.png", :title=> current_user.name, :class=> "image_thumbnail") %>  
           <% end %>
           
      
            <%= f.file_field :avatar %>

    
          <div class="field">
              <%= f.label "Nome", class: "p" %><br />
              <%= f.text_field :name, autofocus: true %>
          </div>
    
          <div class="field">
            <%= f.label "Email", class: "p" %><br />
           <%= f.email_field :email, autofocus: true %>
          </div>
    
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <>Aguardando a confirmação de: <%= resource.unconfirmed_email %></div>
          <% end %>
    
          <div class="field">
            <%= f.label "Senha", class: "p" %> <b class="sub_text">(Deixe a senha em branco caso não queira alterá-la)</b>
            <br />
            <%= f.password_field :password, placeholder: "Digite sua senha", autocomplete: "off" %>
          </div>
    
          <div class="field">
            <%= f.label "Confirmação de senha", class: "p" %>
           <br />
           <%= f.password_field :password_confirmation, placeholder: "Digite a nova senha", autocomplete: "off" %>
          </div>
    
          <div class="field">
            <%= f.label "Senha atual", class: "p" %> <b class="sub_text">(Digite sua senha atual para confirmar as mudanças)</b>
            <br />
            <%= f.password_field :current_password, autocomplete: "off"%>
          </div>
    
          <div>
            <%= f.submit "Alterar", class: "blue_button"%>
            <br />
          </div>
         
         <br />
         <% end %>
   </div>
